In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as pdr
from scipy.stats import norm
import yfinance as yfin

In [2]:
def d1(S, K, r , stdev, T):
    return (np.log(S / K) + (r + stdev **2 / 2) * T) / (stdev * np.sqrt(T))

In [3]:
def d2(S, K, r , stdev, T):
    return (np.log(S / K) + (r - stdev **2 / 2) * T) / (stdev * np.sqrt(T))

In [4]:
norm.cdf(0)

0.5

In [5]:
norm.cdf(0.25)

0.5987063256829237

In [6]:
norm.cdf(0.75)

0.7733726476231317

In [8]:
norm.cdf(9)

1.0

In [9]:
def BSM(S, K, r , stdev, T):
    return ( S * norm.cdf(d1(S, K, r , stdev, T))) - (K * np.exp(-r * T) * norm.cdf(d2(S, K, r , stdev, T)))

In [19]:
ticker = 'PG'
data = pd.DataFrame()
data[ticker] = yfin.download(ticker, start='2007-1-1', end='2017-3-21')['Adj Close']

[*********************100%%**********************]  1 of 1 completed

In [18]:
data.tail()

                   PG
Date
2017-03-14  75.697647
2017-03-15  76.030380
2017-03-16  76.063644
2017-03-17  75.697647
2017-03-20  75.880638

In [12]:
S = data.iloc[-1]
S

PG    75.880638
Name: 2017-03-20 00:00:00, dtype: float64

In [13]:
log_returns = np.log(1 + data.pct_change())

In [14]:
stdev = log_returns.std() * 250 ** 0.5
stdev

PG    0.176584
dtype: float64

In [15]:
r = 0.025
K = 110.0
T = 1

In [16]:
d1(S, K, r , stdev, T)

PG   -1.872916
dtype: float64

In [17]:
d2(S, K, r , stdev, T)

PG   -2.0495
dtype: float64

In [21]:
BSM(S, K, r , stdev, T)

PG    0.149547
Name: 2017-03-20 00:00:00, dtype: float64