In [3]:
pip install data-reader

Collecting data-reader
  Downloading data_reader-0.0.8-py3-none-any.whl (6.0 kB)
Collecting ijson
  Downloading ijson-3.2.0.post0-cp39-cp39-win_amd64.whl (48 kB)
     -------------------------------------- 48.2/48.2 kB 303.9 kB/s eta 0:00:00
Installing collected packages: ijson, data-reader
Successfully installed data-reader-0.0.8 ijson-3.2.0.post0
Note: you may need to restart the kernel to use updated packages.

In [1]:
y = 10
print(str(y) + " Dollars")

10 Dollars

In [2]:
print("'It\'s cool, isn\'t it ?")

'It's cool, isn't it ?

In [4]:
print("It\'s cool, isn\'t it ?")

It's cool, isn't it ?

In [6]:
print('It\'s cool, isn\'t it ?')

It's cool, isn't it ?

In [9]:
print('Big ' + 'Houses')
print('Big ' 'Houses')

Big Houses
Big Houses

In [10]:
print("Big" + " Houses")
print('Big', 'Houses')

Big Houses
Big Houses

In [11]:
print('Big ' + 'Houses')
print('Big', 'Houses')

Big Houses
Big Houses

In [12]:
x2 = 4.75

In [13]:
type(x2)

float

In [14]:
int(x2)

4

In [15]:
print("Big "+"Houses")
print("Big","Houses")

Big Houses
Big Houses

In [16]:
import pandas as pd
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age":[50, 53, 35, 43], 
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data, index = range(1,5))
print(df)

                 Name  Age  Working Experience (Yrs.)
1           Amy White   50                          5
2        Jack Stewart   53                          8
3  Richard Lauderdale   35                          3
4        Sara Johnson   43                         10

# Assign 10 to the variable x and 25 to the variable y. In the same cell, create 2 conditional statements. Let the first one print "Both conditions are correct" if x is greater then 3 and y is greater than 13. Let the second one print "At least one of the conditions is false" if x is less than or equal to 3 or y is less than or equal to 13. Change the values assigned to x and y and re-run the cell to verify your code still works.

In [22]:
x = 10
y = 25
 
if x > 3 and y > 13:
    print("Both conditions are correct")
else:
    print("At least one of the conditions is false")
 
if x <= 3 or y <= 13:
    print("At least one of the conditions is true")
else:
    print("Both conditions are correct")

Both conditions are correct
Both conditions are correct

In [23]:
x = 2
y = 25
 
if x > 3 and y > 13:
    print("Both conditions are correct")
else:
    print("At least one of the conditions is false")
 
if x <= 3 or y <= 13:
    print("At least one of the conditions is true")
else:
    print("Both conditions are correct")

At least one of the conditions is false
At least one of the conditions is true

In [25]:
x = 97

if x > 100:
    print("A busy Day")
else:
    print("A calm day")

A calm day

# Let x represent the number of orders received during a certain day. Create a program that prints "A busy day" if x is greater than 100, and "A calm day" otherwise.

In [26]:
x=100
if x > 100:
    print("A busy day")
else:
    print("A calm day")

A calm day

# Define a function called plus_five() that adds 5 to its argument. Then, define another function named m_by_3() that multiplies the argument (the result obtained from plus_five()) by 3. Verify your code was correct by calling the second function with an argument of 5. Was your output equal to 30?

In [27]:
def plus_five(x):
    return x + 5
 
def m_by_3(x):
    return plus_five(x) * 3
    
m_by_3(5)

30

In [29]:
b = 0.99
b = int(b)
print(b)

0

In [30]:
print(int(0.99))

0

# Create a function, called distance_from_zero(), that returns the absolute value of a provided single argument and prints a statement "Not possible" if the argument provided is not a number. To solve the task, use the type() function in the body of distance_from_zero().

Call the function with the values of -10 and "cat" to verify it works correctly.

In [31]:
def distance_from_zero(x):
    if type(x) == int or type(x) == float:
        return abs(x)
    else:
        print ("Not possible")
        
distance_from_zero(-10)
distance_from_zero("cat")

Not possible

# Use the range() function to create a list with all numbers from 1 to 10.

In [32]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use the range() function to create a list with all numbers from 0 to 19.

In [33]:
print(list(range(0,20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [34]:
print(list(range(0,32,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [37]:
Numbers = [15, 40, 50, 100, 115, 140]
print('The fourth element of the Numbers list is' , Numbers[3])

The fourth element of the Numbers list is 100

In [3]:
n = [2,4,6,8,10]

for num in n:
    multiplied_by_10 = num * 10
    print(multiplied_by_10, end= " ")
    
result = [num * 10 for num in n]
print(*result, end= " ")

20 40 60 80 100 20 40 60 80 100

In [2]:
result = [num * 10 for num in n]
print(*result, end= " ")

20 40 60 80 100

# You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10. Find two solutions of this problem.

In [4]:
n = [1,2,3,4,5,6]
for num in n:
    multiplied_by_10 = num * 10
    print(multiplied_by_10, end= " ")
    
result = [num * 10 for num in n]
print(*result, end= " ")

10 20 30 40 50 60 10 20 30 40 50 60

In [5]:
n = [1,2,3,4,5,6]
for item in n:

    print (item * 10, end = " ")

10 20 30 40 50 60