In [9]:
import numpy as np
import pandas as pd
from pandas_datareader import data as pdr
import matplotlib.pyplot as plt
import yfinance as yfin

In [6]:
yfin.pdr_override()

In [7]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:

    sec_data[t] = yfin.download(t,start='2007-1-1')['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [8]:
sec_data.tail()

                    PG      BEI.DE
Date
2023-11-30  153.520004  128.699997
2023-12-01  152.660004  129.750000
2023-12-04  152.059998  130.300003
2023-12-05  146.759995  131.100006
2023-12-06  146.639999  131.800003

In [10]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [11]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008625 -0.020772
2007-01-08  0.002203  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2023-11-30  0.015690 -0.003490
2023-12-01 -0.005618  0.008125
2023-12-04 -0.003938  0.004230
2023-12-05 -0.035477  0.006121
2023-12-06 -0.000818  0.005325

[4262 rows x 2 columns]

In [13]:
PG_var = sec_returns['PG'].var()
PG_var

0.00013765945660149218

In [14]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00018455992517809144

In [15]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.034414864150373044

In [16]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.04613998129452286

In [18]:
cov_matrix  = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000138  0.000043
BEI.DE  0.000043  0.000185

# Using .cov() compute pairwise covariance of columns

In [19]:
cov_matrix_a  = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.034415  0.010691
BEI.DE  0.010691  0.046140

# Using .corr() compute pairwise correlation of columns

In [20]:
corr_matrix  = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.267727
BEI.DE  0.267727  1.000000

# Calculating Portfolio Risk

In [24]:
weights = np.array([0.5, 0.5])

# Portfolio Variance

In [25]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.025484290258904724

# Portfolio Volatility

In [26]:
pfolio_vol = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights)) ** 0.5
pfolio_vol

0.1596379975410138

In [27]:
print(str(round(pfolio_vol, 5) * 100) + ' %')

15.964 %

# Calculating Diversifiable and Non-diversifiable Risk of a Portfolio

In [ ]:
weights = np.array([0.5, 0.5])

In [29]:
weights[0]

0.5

In [30]:
weights[1]

0.5

In [28]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.034414864150373044

In [31]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.04613998129452286

# Diversified risk  = Portfolio varinace - weighted annaual variance

In [32]:
diversivied_risk = pfolio_var - (weights[0] ** 2 * PG_var_a) - (weights[1] ** 2 * BEI_var_a )
diversivied_risk

0.005345578897680749

In [34]:
print(str(round(diversivied_risk * 100, 3)) + ' %')

0.535 %