# (1) Convert a Single DataFrame Column into a Series

In [1]:
import pandas as pd

In [2]:
data = {'Products': ['Computer', 'Printer', 'Tablet', 'Chair', 'Desk']}
df = pd.DataFrame(data, columns = ['Products'])

print(df)
print (type(df))

   Products
0  Computer
1   Printer
2    Tablet
3     Chair
4      Desk
<class 'pandas.core.frame.DataFrame'>

# You can then use df.squeeze() to convert the DataFrame into a Series:

In [3]:
import pandas as pd

In [4]:
data = {'Products': ['Computer', 'Printer', 'Tablet', 'Chair', 'Desk']}
df = pd.DataFrame(data, columns = ['Products'])

In [5]:
my_series = df.squeeze()

In [6]:
print(my_series)
print (type(my_series))

0    Computer
1     Printer
2      Tablet
3       Chair
4        Desk
Name: Products, dtype: object
<class 'pandas.core.series.Series'>

# (2) Convert a Specific DataFrame Column into a Series

In [7]:
import pandas as pd

data = {'Products': ['Computer', 'Printer', 'Tablet', 'Chair', 'Desk'],
        'Brand':['A', 'B', 'C', 'D', 'E'],
        'Price':[750, 200, 300, 150, 400]
        }
df = pd.DataFrame(data, columns = ['Products', 'Brand', 'Price'])

print(df)
print (type(df))

   Products Brand  Price
0  Computer     A    750
1   Printer     B    200
2    Tablet     C    300
3     Chair     D    150
4      Desk     E    400
<class 'pandas.core.frame.DataFrame'>

# Let’s say that your goal is to convert the ‘Price‘ column into a Series. In that case, you’ll need to add the following syntax to the code:

In [8]:
import pandas as pd

data = {'Products': ['Computer', 'Printer', 'Tablet', 'Chair', 'Desk'],
        'Brand':['A', 'B', 'C', 'D', 'E'],
        'Price':[750, 200, 300, 150, 400]
        }
df = pd.DataFrame(data, columns = ['Products', 'Brand', 'Price'])

In [9]:
my_series = df['Price'].squeeze()

In [10]:
print(my_series)
print (type(my_series))

0    750
1    200
2    300
3    150
4    400
Name: Price, dtype: int64
<class 'pandas.core.series.Series'>

# (3) Convert a Single Row in the DataFrame into a Series

In [11]:
import pandas as pd

data = {'Products': ['Computer', 'Printer', 'Tablet', 'Chair', 'Desk'],
        'Brand':['A', 'B', 'C', 'D', 'E'],
        'Price':[750, 200, 300, 150, 400]
        }
df = pd.DataFrame(data, columns = ['Products', 'Brand', 'Price'])

my_series = df.iloc[3].squeeze()

print(my_series)
print (type(my_series))

Products    Chair
Brand           D
Price         150
Name: 3, dtype: object
<class 'pandas.core.series.Series'>