In [1]:
x = 0
while x<=20:
    print(x, end=" ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
range(1,20,2)

range(1, 20, 2)

In [4]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [5]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [6]:
list(range(0,19,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [7]:
for n in range(10):
    print(2**n, end =" ")

1 2 4 8 16 32 64 128 256 512

In [8]:
for x in range(20):
    if x % 2 == 0:
        print(x, end= " ")
    else:
        print("Odd", end= " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [15]:
def count(numbers):
    total = 0
    for x in numbers:
        if x<20:
            total +=1
    return total

list_1 = [1,3,7,15,23,43,56,98]
count(list_1)

4

In [16]:
def count(numbers):
    total = 0
    for x in numbers:
        if x<20:
            total +=1
    return total

list_1 = [1,3,7,15,23,43,56,98,34,60]
count(list_1)

4

In [17]:
nums = [1,12,24,31,51,70,100]

def count(numbers):
    total = 0
    while numbers[total] <20:
        total = total +1
    return total
count(nums)

2

In [ ]:
total = 0
num = int(input(" Please Enter any integer below 10:  "))
while (num <= 10):
    total = total + num
    num = num + 1
    
print(" Total is: ", total)

# Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.

In [1]:
for n in range(1,11):
    print (n*2)

2
4
6
8
10
12
14
16
18
20

In [2]:
my_list = [1, 2, 3, 4, 5]
my_new_list = [i * 5 for i in my_list]

print(my_new_list)

[5, 10, 15, 20, 25]

In [6]:
for i in range(1,31):
    if i%2!=0:
        print(i,end = " ")
    else:
        print('even', end = " ")

1 even 3 even 5 even 7 even 9 even 11 even 13 even 15 even 17 even 19 even 21 even 23 even 25 even 27 even 29 even

In [8]:
n = 1
while (n <=100):
    if n % 2 == 0:
        print (n, "is even.")
    else:
        print (n, "is odd")
    
    n +=1

1 is odd
2 is even.
3 is odd
4 is even.
5 is odd
6 is even.
7 is odd
8 is even.
9 is odd
10 is even.
11 is odd
12 is even.
13 is odd
14 is even.
15 is odd
16 is even.
17 is odd
18 is even.
19 is odd
20 is even.
21 is odd
22 is even.
23 is odd
24 is even.
25 is odd
26 is even.
27 is odd
28 is even.
29 is odd
30 is even.
31 is odd
32 is even.
33 is odd
34 is even.
35 is odd
36 is even.
37 is odd
38 is even.
39 is odd
40 is even.
41 is odd
42 is even.
43 is odd
44 is even.
45 is odd
46 is even.
47 is odd
48 is even.
49 is odd
50 is even.
51 is odd
52 is even.
53 is odd
54 is even.
55 is odd
56 is even.
57 is odd
58 is even.
59 is odd
60 is even.
61 is odd
62 is even.
63 is odd
64 is even.
65 is odd
66 is even.
67 is odd
68 is even.
69 is odd
70 is even.
71 is odd
72 is even.
73 is odd
74 is even.
75 is odd
76 is even.
77 is odd
78 is even.
79 is odd
80 is even.
81 is odd
82 is even.
83 is odd
84 is even.
85 is odd
86 is even.
87 is odd
88 is even.
89 is odd
90 is even.
91 is odd
92 is even.
93 is odd
94 is even.
95 is odd
96 is even.
97 is odd
98 is even.
99 is odd
100 is even.

# Create a little program that runs a loop over all values from 1 to 30. Let it print all odd numbers, and in the place of the even numbers, it should print "Even". Help yourself with the range() function to solve this exercise.

In [9]:
for n in range(1,31):
    if n%2!=0:
        print(n,end = " ")
    else:
        print('Even', end = " ")

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

In [10]:
n = 1
while (n <=30):
    if n % 2!=0:
        print (n, end = " ")
    else:
        print ('Even', end = " ")
    
    n +=1

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

In [4]:
n = [1,2,3,4,5,6]
my_new_list = [i * 10 for i in n]
print(my_new_list, end = " ")

[10, 20, 30, 40, 50, 60]

In [2]:
n = [1,2,3,4,5,6]
for item in n:
    print(item * 10, end = " ")

10 20 30 40 50 60

In [6]:
Hi Udemy Team,Please provide an appropriate resolution of the coding exercise 95.Thanks & RegardsSk Nadeem

SyntaxError: invalid syntax (4205160220.py, line 1)

# You are provided with the nums list. Complete the code in the cell that follows. Use a while loop to count the number of values lower than 20.

In [14]:
nums = [1,35,12,24,31,51,70,100]
 
def count(numbers):
    numbers = sorted(numbers)
    tot = 0
    
    while numbers[tot] < 20:
        tot += 1
    return tot

count(nums)

2

In [13]:
nums = [1,12,24,31,51,70,100]

def count(numbers):
    total = 0
    while numbers[total] <20:
        total = total +1
    return total
count(nums)

2

In [17]:
n = [1,2,3,4,5,6]
for i in range(len(n)):
    n[i]=n[i]*10
    
print(n, end = " ")

[10, 20, 30, 40, 50, 60]

In [19]:
n = [1,2,3,4,5,6]

n=[i*10 for i in n]
print(n)

for i in range(len(n)):
    n[i]=n[i]*10
print(n)

[10, 20, 30, 40, 50, 60]
[100, 200, 300, 400, 500, 600]

In [20]:
import numpy as np

import numpy
def multiply_numbers(list):
   return numpy.prod(list)

given_list = [2,5,3,7,4,85,-3]
print('The list is:',given_list)
print("The product is: ")
print(multiply_numbers(given_list))

The list is: [2, 5, 3, 7, 4, 85, -3]
The product is:
-214200