In [1]:
import pandas as pd

In [2]:
from pandas_datareader import data as pdr

In [3]:
import yfinance as yf

In [4]:
yf.pdr_override()

In [5]:
from datetime import datetime

In [6]:
y_symbols = ['MSFT']

In [7]:
startdate = datetime(2018,1,1)
enddate = datetime(2019,1,1)
data = pdr.get_data_yahoo(y_symbols, start=startdate, end=enddate)

[*********************100%***********************]  1 of 1 completed

In [8]:
data.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-01-02  86.129997  86.309998  85.500000  85.949997  80.391830  22483800
2018-01-03  86.059998  86.510002  85.970001  86.349998  80.765968  26061400
2018-01-04  86.589996  87.660004  86.570000  87.110001  81.476822  21912000
2018-01-05  87.660004  88.410004  87.430000  88.190002  82.487015  23407100
2018-01-08  88.199997  88.580002  87.599998  88.279999  82.571182  22113000