In [1]:
import pandas as pd

In [4]:
products = ['A', 'B', 'C', 'D']
products

['A', 'B', 'C', 'D']

In [5]:
type(products)

list

In [3]:
product_categories = pd.Series(product)
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [6]:
type(product_categories)

pandas.core.series.Series

In [7]:
type(pd.Series(product))

pandas.core.series.Series

In [8]:
daily_rates_dollars = pd.Series([40, 45, 50, 60])
daily_rates_dollars

0    40
1    45
2    50
3    60
dtype: int64

In [9]:
import numpy as np

In [10]:
array_a = np.array([10,20,30,40,50])
array_a

array([10, 20, 30, 40, 50])

In [11]:
type(array_a)

numpy.ndarray

In [12]:
series_a = pd.Series(array_a)
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

# Create a Series object called series_age from the NumPy array object array_age.

In [13]:
array_age = np.array([50, 53, 35, 43])
array_age

array([50, 53, 35, 43])

In [14]:
series_age = pd.Series(array_age)
print(series_age)

0    50
1    53
2    35
3    43
dtype: int32