In [1]:
import pandas as pd
import numpy as np
import openpyxl
from openpyxl import load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows

In [2]:
wb = load_workbook('C:\\Users\\USER\\Desktop\\LINKEDIN_LEARNING\\Using_Python_with_Excel\\template.xlsx')
ws = wb.active

In [3]:
df = pd.read_csv('C:\\Users\\USER\\Desktop\\LINKEDIN_LEARNING\\Using_Python_with_Excel\\crime.csv', 
                 encoding= 'utf-8', dtype={"INCIDENT_NUMBER": str, "OFFENSE_CODE": str, "OFFENSE_CODE_GROUP": str, 
                                                        "OFFENSE_DESCRIPTION": str, "DISTRICT": str, "REPORTING_AREA": str, "SHOOTING": str, "YEAR": str, "MONTH": str, 
                                                       "DAY_OF_WEEK" : str, "HOUR": str})

In [4]:
df1 = df[df['OFFENSE_CODE_GROUP'] == 'Counterfeiting']

In [5]:
df1 = df1.replace(np.nan, 'N/A' , regex=True)

In [6]:
total_crimes = len(df.index)
counterfeit = len(df.index)
perc_crimes = (counterfeit/total_crimes) * 100
perc_crimes = round(perc_crimes, 2)

In [7]:
ws['O8'].value = total_crimes
ws['P8'].value = counterfeit
ws['Q8'].value = perc_crimes

# If we want data display in Vertical way

In [8]:
df1['Count'] = 1
df2 = df1.groupby(['DISTRICT', 'YEAR']).count()['Count']
print(df2)

DISTRICT  YEAR
A1        2015    25
          2016    57
          2017    37
          2018    27
A15       2015     5
          2016     2
          2017     8
          2018     3
A7        2015     6
          2016    16
          2017    14
          2018     8
B2        2015    32
          2016    68
          2017    64
          2018    28
B3        2015    26
          2016    44
          2017    34
          2018    23
C11       2015    73
          2016    98
          2017    62
          2018    41
C6        2015    16
          2016    28
          2017    27
          2018    21
D14       2015     6
          2016    32
          2017    69
          2018    15
D4        2015    35
          2016    64
          2017    66
          2018    49
E13       2015    17
          2016    42
          2017    37
          2018    18
E18       2015    20
          2016    26
          2017    23
          2018    17
E5        2015    15
          2016    17
          2017    15
          2018    11
N/A       2017     1
          2018     1
Name: Count, dtype: int64

# If we want data displayed in Horizontal way using unstack

In [9]:
df1['Count'] = 1
df2 = df1.groupby(['DISTRICT', 'YEAR']).count()['Count'].unstack(level=0)
print(df2)

DISTRICT    A1  A15    A7    B2    B3   C11    C6   D14    D4   E13   E18  \
YEAR
2015      25.0  5.0   6.0  32.0  26.0  73.0  16.0   6.0  35.0  17.0  20.0
2016      57.0  2.0  16.0  68.0  44.0  98.0  28.0  32.0  64.0  42.0  26.0
2017      37.0  8.0  14.0  64.0  34.0  62.0  27.0  69.0  66.0  37.0  23.0
2018      27.0  3.0   8.0  28.0  23.0  41.0  21.0  15.0  49.0  18.0  17.0

DISTRICT    E5  N/A
YEAR
2015      15.0  NaN
2016      17.0  NaN
2017      15.0  1.0
2018      11.0  1.0

# eliminating the columm N/A using drop function

In [10]:
df2.drop(columns='N/A', inplace=True)
print(df2)

DISTRICT    A1  A15    A7    B2    B3   C11    C6   D14    D4   E13   E18  \
YEAR
2015      25.0  5.0   6.0  32.0  26.0  73.0  16.0   6.0  35.0  17.0  20.0
2016      57.0  2.0  16.0  68.0  44.0  98.0  28.0  32.0  64.0  42.0  26.0
2017      37.0  8.0  14.0  64.0  34.0  62.0  27.0  69.0  66.0  37.0  23.0
2018      27.0  3.0   8.0  28.0  23.0  41.0  21.0  15.0  49.0  18.0  17.0

DISTRICT    E5
YEAR
2015      15.0
2016      17.0
2017      15.0
2018      11.0

In [45]:
rows = dataframe_to_rows(df2)
for r_idx, row in enumerate(rows,8):
    for c_idx, col in enumerate (row,1):
        ws.cell(row=r_idx, column=c_idx, value=value)

In [46]:
wb.save('crime_loop.xlsx')