In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as pdr
import matplotlib.pyplot as plt
import yfinance as yfin

In [2]:
yfin.pdr_override()

In [3]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:

    sec_data[t] = yfin.download(t,start='2007-1-1')['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [4]:
sec_data.tail()

                    PG      BEI.DE
Date
2023-11-29  151.130005  129.149994
2023-11-30  153.520004  128.699997
2023-12-01  152.660004  129.750000
2023-12-04  152.059998  130.300003
2023-12-05  147.529999  131.100006

# We take the logarithmic return because we will examine each company separately in the given time

In [5]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [6]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002203  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2023-11-29 -0.007646 -0.002320
2023-11-30  0.015690 -0.003490
2023-12-01 -0.005618  0.008125
2023-12-04 -0.003938  0.004230
2023-12-05 -0.030244  0.006121

[4261 rows x 2 columns]

In [7]:
sec_returns['PG'].mean()

0.00030886477318395404

In [8]:
sec_returns['PG'].mean() * 250

0.07721619329598851

In [9]:
sec_returns['PG'].std()

0.01173072769317794

In [10]:
sec_returns['PG'].std() * 250 * 0.5

1.4663409616472425

# Beiersdorf Aktiengesellschaft

In [11]:
sec_returns['BEI.DE'].mean()

0.0002610327639208494

In [12]:
sec_returns['BEI.DE'].mean() * 250

0.06525819098021235

In [13]:
sec_returns['BEI.DE'].std()

0.01358670546825445

In [14]:
sec_returns['BEI.DE'].std() * 250 *0.5

1.6983381835318063

In [15]:
print (sec_returns['PG'].mean() * 250)
print (sec_returns['BEI.DE'].mean() * 250)

0.07721619329598851
0.06525819098021235

In [17]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.077216
BEI.DE    0.065258
dtype: float64

In [20]:
sec_returns[['PG', 'BEI.DE']].std() * 250 * 0.5

PG        1.466341
BEI.DE    1.698338
dtype: float64